{% extends 'base.html.twig' %}


{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/foundation.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/main.css') }}" />

{% endblock %}

{% block body %}

<div class="navbar">
  <ul class="row">
    <li class="medium-offset-2 medium-2 large-2 columns"><a href="#" >Welcome</a></li>
    <li class="large-2 medium-2 columns"><a href="#" >How it works</a></li>
    <!-- <li>XML Formatter</li> -->
    <li class="large-2 medium-2 columns"><a href="#" >Products</a></li>
    <li class="large-2 medium-2 columns end"><a href="#" >Contact</a></li>
  </ul>
</div>

<div id="paracontainer">

  <div id="parabackground" class="blueback">
    <article class="title white"> 
      <h1>XML Formatter</h1>
      <!-- meniul va fi cu font rosu si albastru text si brackets ca sa dam un effect de xml syntax -->
    </article>
  </div>

</div>

<div class="container">

</div>

{% endblock %}

