/*=Title Animation===============================*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*=RESPONSIVE====================================*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 85%; } }
@media screen and (max-width: 1100px) {
  html {
    font-size: 80%; } }
@media screen and (max-width: 1000px) {
  html {
    font-size: 75%; } }
@media screen and (max-width: 900px) {
  html {
    font-size: 70%; } }
@media screen and (max-width: 800px) {
  html {
    font-size: 60%; } }
/* =COLORS=====FONTS======================================*/
.blue {
  color: #048CB9; }

.white {
  color: white; }

.red {
  color: #F30000; }

span {
  font-weight: bold; }

.blueback {
  background-color: #048CB9; }

.whiteback {
  background-color: white; }

@font-face {
  font-family: 'Forza-Bold';
  src: url("Cloud.typography");
  font-weight: bold;
  font-style: normal; }
/*==TEXT-ELEMENTS==============================================*/
.title {
  text-shadow: #ffff99 0px 0px 1px;
  text-align: center;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: -1; }

h1 {
  font-family: 'Forza-Bold' !important;
  font-size: 6rem; }

h2 {
  font-family: 'Forza-Bold' !important;
  font-size: 3rem; }

/*=====================================================*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: red;
  text-align: center; }
  nav ul {
    list-style-type: none; }
  nav a {
    font-size: 1.3rem; }

.container {
  height: 100vh;
  width: 100%; }

#paracontainer {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: -3; }

#parabackground {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-size: cover; }

/*=====================================================*/
.packs {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 0.2rem solid #333;
  border-radius: 0.5rem; }
  .packs h3 {
    background-color: #048CB9; }
  .packs .pr {
    list-style-type: none;
    border: 0.1rem solid #ccc;
    margin: 0.1rem 0 0.8rem 0; }
    .packs .pr .pr-title {
      background-color: #333;
      color: white;
      padding: 0.5rem 0; }
    .packs .pr .pr-price {
      background-color: #ededed;
      padding: 0.5rem 0; }
    .packs .pr .pr-descr {
      padding: 0.5rem 0;
      border-bottom: 0.1rem solid #ccc; }
    .packs .pr .bronze {
      background-color: #cd7f32; }
    .packs .pr .silver {
      background-color: #c0c0c0; }
    .packs .pr .gold {
      background-color: #ffd700; }
    .packs .pr .custom-color {
      background-color: #87082a;
      color: white; }
    .packs .pr .pr-button {
      padding-top: 1rem;
      padding-bottom: 0.1rem; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 1.1rem;
    border: 0.1rem solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */ }
    .modal .modal-content table tbody tr:nth-child(2n) {
      border-bottom: 0;
      background-color: #fff; }
    .modal .modal-content .close {
      color: #aaa;
      float: right;
      font-size: 1.6rem;
      font-weight: bold; }
    .modal .modal-content .close:hover,
    .modal .modal-content .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
